*.o
*.user
*.out
*.~
*.tab.c
*.tab.h
*.yy.c
*.old
*.creator.user.*
.directory
*~
*frmt.c
*inst.c
*.a
*.orig
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.loa
*.dvi
*build*
*.config
*.includes
*.creator
*.files
*autosave
